html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  overflow-x: hidden;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f7f8fc;
}

* {
  font-weight: 600;
  /* font-family: "Times New Roman", Times, serif; */
}

.header {
  padding: 20px 9%;
  background-color: #4255dc;
}
.icon > img {
  width: 90px;
}

.header-div {
  background-color: #e27032;
  color: white;
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.header-div:hover {
  background-color: #ffab5a;
  transition: 0.2s;
  margin-bottom: 10px;
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 6px;
}

.header-div:hover {
  color: white;
  transition: 0.3s;
}

.top-part {
  background-color: #4255dc;
  border-bottom-right-radius: 200px;
  padding: 10px;
}

.login-button {
  width: 100%;
  background-color: #e27032;
  color: white;
  border: none;
  font-size: 1.1em;
  padding: 11px 14px;
  transition: 0.2s;
}

.login-button:hover {
  background-color: #ffab5a;
  transition: 0.2s;
  margin-top: 3px;
  text-decoration: none;
}

.login-button:focus {
  border: 0;
}

.parag {
  width: 350px;
  color: white;
}

.tum-servisler {
  background-color: transparent;
  color: white;
  border-radius: 3px;
  padding: 12px 30px;
  border: 1px solid white;
}

form {
  max-width: 400px;
  min-height: 290px;
}

form input {
  border-radius: 3px;
  padding: 6px;
  width: 100%;
  border: 1px solid #c0c0c0;
}

form input:focus {
  border: 1px solid #c0c0c0;
  outline: 0;
}

.social-media-div {
  border: 1px solid #eff1f6;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background-color: white;
}

.social-media-div p {
  font-weight: 700;
  font-size: 18px;
}

.social-media-div img {
  width: 30px;
}

.servis-list {
  background-color: #4255dc;
  border-radius: 3px;
  color: white;
  border: 0;
  padding: 15px;
}

.free-register {
  background-color: #e27032;
  border-radius: 3px;
  color: white;
  border: 0;
  padding: 15px;
}

.right-div-phone {
  width: 100%;
  padding-top: 2px;
  border-radius: 100px 0 0 100px;
  background: linear-gradient(311deg, #e2773d, #dfb097);
}

.bottom-divs {
  border-radius: 15px;
  background-color: white;
  font-size: 20px;
  border: 1px solid #eff1fb;
  padding: 5px;
  margin: 20px;
}

.register-now {
  background-color: #4255dc;
}

.register-now button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.footer-div {
  background-color: #1e30ac;
  padding: 10px 20px;
}

.toggle-sidebar {
  background-color: #4255dc;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  color: white;
  padding: 20px 6%;
  top: 0;
  display: none;
}

.sidebar-div {
  background-color: #e27032;
  color: white;
  padding: 6px;
  font-size: 23px;
  border-radius: 5px;
  margin-top: 40px;
  width: fit-content;
}

.woman-div-img {
  background-color: #4255dc;
  border-radius: 35px;
}

.div-important {
  padding-left: 13%;
}

.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.mobile-footer-div {
  cursor: pointer;
  width: 100px;
}

.mobile-footer-div.active > .icon {
  background-color: #155be1;
  height: 40px;
  color: white;
  width: 40px;
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 3px solid #9fc5ff74;
  margin-top: -20px;
}

.mobile-footer-div.active .icon {
  scale: 1.1;
}

@media only screen and (max-width: 768px) {
  .form-login {
    width: 100%;
  }
  .header-left-side {
    width: 100%;
  }
  .parag {
    width: 80%;
  }
  .div-important {
    padding-left: 14%;
  }
  .woman-div-img {
    width: 250px;
  }
}
